.root-container {
    --color-bg-backup: var(--color-background);
    --strip-bg: #2a2f37;
    --strip-ears: #212d40;
    --yellow: #ffd23e;
    --blue-green: #00ffff;
    --green: rgba(69,255,72,1);
    --red: red;
    --blue: rgb(49, 173, 233);
    --label-height: 32rem;

}

.panel-container {
    --scrollbar-size: 24rem;
}



.panel-container {
    --line-width: 0rem;
}

.modal-container > .toggle,
.button-container,
.switch-container {
    --alpha-fill-off: 0.05;
    --alpha-stroke: 0.25;
    --alpha-fill-on: 0.75
}

.button-container.on inner {
    /* box-shadow: 0 0 4rem 0 var(--color-widget) inset; */
    box-shadow: 0 0 2rem 0 var(--color-widget);
}

.button-container.discrete:not(.on){
    --color-widget: white!important
}
.button-container.no-pulse inner:after {
  animation: none
}

.knob-container {
    --color-stroke: white;
    --line-width: 3rem!important;
}

.strip {
    --color-background: var(--strip-bg);
    --widget-padding: 10rem;
}

.strip .label {
    background: var(--color-ui-foreground);
    position: relative;
    text-align: left;
    padding: 0 10rem;
    height: var(--label-height);
    line-height: var(--label-height);
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.strip .label.center {
    text-align: center;
}
.section-label {
    color: var(--color-fill);
    padding: 2rem 10rem 0;
    font-weight: 100;
    text-transform: uppercase;
    text-shadow: 0 0 2rem;
    background: var(--strip-bg);
    margin-bottom: 1rem;
    /* position: relative; */
}
.navigation .tablink.on {
    color: var(--color-fill);
    font-weight: 100;
    /* text-transform: uppercase; */
    text-shadow: 0 0 2rem;
}
.text-container {
    font-weight: 100;
    color: var(--color-fill);
    text-transform: uppercase;
    --alpha-fill: 0;
    text-shadow: 0 0 2rem;
}

.strip > inner > .input-container {
    --color-widget: black;
    --alpha-fill-off: 0.20;
    --alpha-stroke: 0.5;
    --widget-padding: 0;
    height: 40rem;
}
.strip > inner > .input-container input {
    color: white;
    caret-color: white;
}
.carved {
    --color-background: var(--color-bg-backup);
    --line-width: 1rem;
    --color-stroke: rgba(0,0,0,0.5)
}
.popup {
    --color-background: var(--color-bg-backup);
}
.popup {
    backdrop-filter: blur(1rem);
}

.plugin-modal > label {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 24rem;
    padding: 0 4rem;
}


.route-buttons .widget {
    max-height: 50rem;
}

.route-buttons label {
    justify-content: flex-start;
    padding: 10rem;
}

.route-buttons .html {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10rem;
    padding-top: 14rem
}
.route-buttons .mk2,
.route-buttons .pb {
    height: 20rem;
    line-height: 22rem;
    width: 20rem;
    position: relative;
    margin-left: 10rem;
    padding-left: 1rem;
}
.route-buttons .mk2::before,
.route-buttons .pb::before {
    content: "";
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    opacity: 0.5;
    z-index: -1;
}
.route-buttons .mk2::before {
    background: var(--blue);
    border-radius: 3rem;

}
.route-buttons .pb::before {
    background: grey;
    border-radius: 50%;
}


.locked {
    filter: grayscale(1) sepia(0.5) hue-rotate(190deg);
    opacity: 0.75;
    pointer-events: none;
}
.editing .locked {
    pointer-events: auto
}


.center-tabs > inner {
  /* border: 32rem solid var(--strip-bg);; */
  border-bottom: 0;
}
.center-tabs > inner > .tab-container {
    border: var(--label-height) solid var(--strip-bg);;

}
.center-tabs > inner > .navigation {
  /* order: 1; */
  margin-right:-2rem;
  /* margin-bottom:-2rem; */
  --nav-height: var(--label-height);
  border-bottom: 0;
}
.center-tabs > inner > .navigation .tablink {
    border-color: var(--strip-bg);
    border-width: 2rem;
}

.center-tabs .section-label {
  margin: 0;
}

.mixers-tab .navigation {
  overflow: auto;
  order:1;
  border-left: 1rem solid var(--color-background);
}
.mixers-tab  .tablink {
  min-width: 200rem;
  justify-content:start;
  min-height: calc(var(--label-height) + 1rem);

}

.vocals-buttons .button-container {
    --line-width: 4rem;
    font-size: 120%;
    --widget-padding: 0;
}
.vocals-buttons .button-container.on {
    --line-width: 0;
}
