.root-container {
    --color-bg-backup: var(--color-background);
    --strip-bg: #2a2f37;
    --strip-ears: #212d40;
    --yellow: rgba(255,217,89,1);
    --blue-green: #00ffff;
    --purple: rgba(106,102,255,1);
    --green: rgba(76, 233, 101, 1);
    --red: red;
    --blue: rgb(49, 173, 233);
    --label-height: 32rem;

}

.panel-container {
    --scrollbar-size: 24rem;
}



.panel-container {
    --line-width: 0rem;
}

.modal-container > .toggle,
.button-container,
.switch-container {
    --alpha-fill-off: 0.05;
    --alpha-stroke: 0.25;
    --alpha-fill-on: 0.65
}

.modal-container.on > .toggle,
.button-container.on inner {
    /* box-shadow: 0 0 4rem 0 var(--color-widget) inset; */
    /* box-shadow: 0 0 2rem 0 var(--color-widget); */
}

.button-container.discrete:not(.on){
    --color-widget: white!important
}
.button-container.no-pulse inner:after {
  animation: none
}

.knob-container {
    --color-stroke: white;
    --line-width: 3rem!important;
}

.fader-container.design-compact {
    --line-width: 0rem;
    --widget-padding: 0;
    --alpha-fill-on: 0.5;
    --alpha-fill-off: 0.05;
    /*filter:drop-shadow(0 0 2px);*/
}
.fader-container.design-compact .label {
    position: absolute;
    background: none;
    bottom: 0;
    left: 0;
    transform: rotate(180deg);
    text-overflow: ellipsis;
    -webkit-writing-mode:vertical-rl;
    writing-mode:vertical-rl;
    text-transform: uppercase;
    height: 90%;
    font-size: 140%;
    font-weight: 100;
    width: 100%;
    pointer-events: none;
    margin-bottom: 10rem;
    color:white;
    opacity: 0.5;
    display: flex;
    align-items: center;
}

.fader-container.design-compact .value {
    position: absolute;
    pointer-events: none;
    opacity: 0.8;
    top: 0;
    left:0;
    right: 0;
    width: 100%;
    text-align: center;
}
.fader-container.design-compact.horizontal .label {
    transform: none;
    text-overflow: ellipsis;
    -webkit-writing-mode:  initial;
    writing-mode: initial;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: center;
    margin:0;
}

.strip {
    --color-background: var(--strip-bg);
    --widget-padding: 10rem;
}

.strip .label {
    background: var(--color-ui-foreground);
    position: relative;
    text-align: left;
    padding: 0 10rem;
    height: var(--label-height);
    line-height: var(--label-height);
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.strip .label.center {
    text-align: center;
}
.section-label {
    color: var(--color-fill);
    padding: 2rem 10rem 0;
    font-weight: 100;
    text-transform: uppercase;
    text-shadow: 0 0 2rem;
    background: var(--strip-bg);
    margin-bottom: 1rem;
    /* position: relative; */
}
.navigation .tablink.on {
    color: var(--color-fill);
    font-weight: 100;
    /* text-transform: uppercase; */
    text-shadow: 0 0 2rem;
}
.text-container {
    font-weight: 100;
    /* color: var(--color-fill); */
    /* text-transform: uppercase; */
    --alpha-fill: 0;
    /* text-shadow: 0 0 2rem; */
}
.text-container.carved {
    --color-widget: var(--color-bg-backup);
    --color-stroke: black;
    --alpha-fill: 1;
    --alpha-stroke: 0.5;
    --line-width: 1rem;
}

.input-container {
    --color-widget: black;
    --alpha-fill-off: 0.20;
    --alpha-stroke: 0.5;
    --widget-padding: 0;
    height: 40rem;
}
.input-container inner {
    padding: 0 10rem;
}
.input-container input {
    color: white;
    caret-color: white;
}
.carved {
    --color-background: var(--color-bg-backup);
    --line-width: 1rem;
    --color-stroke: rgba(0,0,0,0.5)
}
.modal-container .popup {
    --color-background: var(--color-bg-backup);
}
.popup {
/*    backdrop-filter: blur(1rem)*/
}
.popup-wrapper {
    box-shadow: 0 0 20rem 0 rgba(0,0,0,0.3);
    border-radius: 4rem;
}

.plugin-modal > label {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 24rem;
    padding: 0 4rem;
}

.strip .meter {
    --alpha-fill-on:0.75;
    --line-width: 0;
    --widget-padding: 0;
    position: absolute;
    top:18rem;bottom:12rem;
    height: auto;
    left: 42rem;
    z-index: 10;
    width: 8rem;
}


.route-buttons .widget {
    max-height: 50rem;
}

.route-buttons label {
    justify-content: flex-start;
    padding: 10rem;
}

.route-buttons .html {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10rem;
    padding-top: 10rem
}
.route-buttons .mk2,
.route-buttons .pb {
    height: 20rem;
    line-height: 22rem;
    width: 20rem;
    position: relative;
    margin-left: 10rem;
    padding-left: 1rem;
}
.route-buttons .mk2::before,
.route-buttons .pb::before {
    content: "";
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    opacity: 0.5;
    z-index: -1;
}
.route-buttons .mk2::before {
    background: var(--blue);
    border-radius: 3rem;

}
.route-buttons .pb::before {
    background: var(--purple);
    border-radius: 50%;
}


.locked {
  filter: grayscale(0.5);
    _filter: grayscale(1) sepia(0.5) hue-rotate(190deg);
    opacity: 0.75;
    pointer-events: none;
}
.editing .locked {
    pointer-events: auto
}


.center-tabs > inner {
  /* border: 32rem solid var(--strip-bg);; */
  border-bottom: 0;
}
.center-tabs > inner > .tab-container {
    border: var(--label-height) solid var(--strip-bg);;

}
.center-tabs > inner > .navigation {
  /* order: 1; */
  margin-right:-2rem;
  /* margin-bottom:-2rem; */
  --nav-height: var(--label-height);
  border-bottom: 0;
}
.center-tabs > inner > .navigation .tablink {
    border-color: var(--strip-bg);
    border-width: 2rem;
    padding-top: 2rem;
}
.center-tabs > inner > .navigation .tablink.on::before {
    top:0;
    bottom: auto;
}

.center-tabs .section-label {
  margin: 0;
}

.mixers-tab .navigation {
  overflow: auto;
  order:1;
  border-left: 1rem solid var(--color-background);
}
.mixers-tab  .tablink {
  min-width: 200rem;
  justify-content:start;
  min-height: calc(var(--label-height) + 1rem);

}

.vocals-buttons .button-container {
    --line-width: 4rem;
    font-size: 140%;
    font-weight: 100;
    --widget-padding: 0;
    text-transform: uppercase;
}
.vocals-buttons .button-container.on {
    --line-width: 0;
}
